.pagination span{
    padding: 0 5px;
}
.pagination{
    position:fixed;
    right: 2rem;
    bottom: 1.5rem;
}
.active{
    background-color: #0064EB;
    border-radius: 20%;
    color: white;
}
.pagination img{
    cursor: pointer;
}
.pagination span:hover{
    background-color: gray;
    color:white
}